nav img{
	height: 35px;
}
 .home .top-bar-section li:not(.has-form) a:not(.button){
	background-image: url("../img/head.jpg");
	background-position: bottom;
	font-family: 'Nunito', sans-serif;
}

 .home .top-bar{
	background-image: url("../img/head.jpg");
	background-position: bottom;

}


.top-bar-section li:not(.has-form) a:not(.button){
	background-image: url("../img/gdfootbg.jpg");
	font-family: 'Nunito', sans-serif;
	letter-spacing: 1px;
}

.top-bar{
	background-image: url("../img/gdfootbg.jpg");
	background-position: center bottom;
}

.top-bar-section li.active:not(.has-form) a:not(.button), .top-bar-section li.active:not(.has-form) a:not(.button):hover{
	background-color:#511e09;

}


button,
.button{
	background: #511e09;
	color: white;
}

button,
.button:hover{
	background: #fe9500;
	color:white; 
}

button,
.button .disabled {
	background: red;
	color:white; 
}
/*.pages{
	background-image: url("../img/leafbar.jpg");
	background-size: cover;
	background-position: center;
	
}*/

p, h4, li a{
	font-family: 'Nunito', sans-serif;
}

h1{
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
}

.product-grid h4{
	font-size: 1.3rem;
}

.topper{
	height: 200px;
}

.topper .logo{
	height: 100px;
	position: absolute;
	right: 40px;
	top: 70px;
}

.home {
	background-image: url("../img/bggd.jpg");
	background-size: cover;
/*	background-position: absolute;
*/	background-repeat: no-repeat;
	height: auto;
/*	top: -45px;
	z-index: -1;*/

}

.bord{
	border: 20px solid white;
}	

.orbit{
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
}
aside{
	padding: 3rem 0;
	height
}


/*FOOTER*/

footer{
	background-image: url("../img/gdfootbg2.jpg");
	background-size: cover;
	background-position: center;
	padding-top: 20px;
	color: white;
	font-family:'Nunito', sans-serif;
	font-weight: 400;

}
.cart footer{
	margin-top: 200px;
}

.cart-grid{
	font-family:'Nunito', sans-serif;
}

.cart-grid h1{
	font-weight: 700;
}

.cart-grid h4{
	font-size: 1.3rem;
}

footer p {
	line-height: 1;
	padding: 0;
	font-size: .85rem;
}

footer .text-right{
	line-height: 1.2;
	font-size: 1rem;
	padding: 0;
}

footer img{
	height: 80px;
	padding: 0 0 20px 0;

}

footer a{
	color: white;
	font-size: 1.6rem;
}

.home footer{
	/*background-image: url("../img/foot.jpg");
	background-size: cover;
	background-position: bottom;*/
	background-image: none !important;
	background-color: rgba(0,0,0,.2)

}




